article{
	background: greenyellow;
	border:2px solid black;
	color: black;
	margin: 20px 50px;
	padding: 15px;
	text-align: center;
	transition: all 5s linear; 
	-o-transition:all 5s linear;
	-ms-transition:all 5s linear;
	width: 400px; 
}

article p{
	font: 30px;
	font-weight: bold;
	width: 100%; 
}

/*article:hover{
	height: 400px;
	width: 800px; 

}*/

article:hover{
	background: black;
	color: greenyellow;
	transform: translate(150px,300px);

}